.container {
    text-align: center;
}

.login hr {
    margin: 1.25rem 2rem;
}

.regist hr {
    margin: 1.25rem 2rem;
}

h3 {
    font-family: DFKai-SB;
}
#otherLogin{
    height: 100px;
}
#otherLogin h6{
    color: gray;
    margin-left: 3.5rem;
}
#otherLogin li{
    list-style: none;
    height: 2rem;
    width: 3rem;
    float: left;
    margin-top: 0.5rem;
    cursor: pointer;
}
#otherLogin li:hover{
    opacity: 0.5;
}
#otherLogin li:nth-child(1){
    margin-right: 2.2rem;
}
#otherLogin li:nth-child(2){
    margin-right: 2.2rem;
}
/*登路表单*/
#username-lg-sp-div {
    text-align: left;
    height: 1.7rem;
	font-size: 14px;
}

#password-lg-sp-div {
    text-align: left;
    height: 1.7rem;
	font-size: 14px;
}

/*注册表单*/
#username-rg-sp-div {
    text-align: left;
    height: 1.7rem;
    font-size: 12px;
}

#password-rg-sp-div {
    text-align: left;
    height: 1.7rem;
    font-size: 12px;
}

#password2-rg-sp-div {
    text-align: left;
    height: 1.7rem;
    font-size: 12px;
}

#phone-rg-sp-div {
    text-align: left;
    height: 1.7rem;
    font-size: 12px;
}

#checkcode-rg-sp-div {
    text-align: left;
    height: 1.7rem;
    font-size: 12px;
}
#checkcode-rg{
    float: left;
}
#canvas-div{
    margin-left: -1rem;
    margin-right: 9px;
    float: left;
    cursor: pointer;
}
