<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:该mapper.xml映射文件的 唯一标识 -->
<mapper namespace="com.zhang.mapper.LoginMapper">
    <select id="findUserByIdAndPwd" parameterType="com.zhang.entity.User" resultType="com.zhang.entity.User">
        select * from user where username = #{userName} and password = #{password}
    </select>

    <insert id="regist" parameterType="com.zhang.entity.User" >
        insert into user(username,password,phone) values (#{userName},#{password},#{phone})
    </insert>

    <select id="findUserByName" parameterType="string" resultType="com.zhang.entity.User">
        select * from user where username = #{username}
    </select>

    <select id="findUserByPhone" parameterType="int" resultType="com.zhang.entity.User">
        select * from user where phone = #{phone}
    </select>
</mapper>